<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<head>
    <title>PakdoMon</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <nav>
    </nav>
    <div class="navLine"></div>
    <main>
        <div class="container">
            <h1>PakdoMon</h1>
    
            <div class="buttons">
                <button><a href="/nature">Nature-Chart</a></button>
                <button><a href="/pokemon">Pokedex</a></button>
                <button><a href="/pokemon/search">PokeSearch</a></button>
                <button><a href="/types">Type-Chart</a></button>
            </div>
        </div>
    </main>
</body>
</html>