<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<head>
    <title>Pokemon Natures</title>
    <link rel="stylesheet" href="/nature.css">
</head>
<body>
    <nav>
        <button><a href="/home">Home</a></button>
    </nav>
    <div class="navLine"></div>

    <main>
        <div class="container">
            <h1>Pokemon Nature Chart</h1>

            <table>
                <thead>
                    <th class="hiddenBox">Apple</th>
                    <th class="Atk">↓ Attack</th>
                    <th class="Def">↓ Defence</th>
                    <th class="SpAtk">↓	Sp. Atk</th>
                    <th class="SpDef">↓	Sp. Def</th>
                    <th class="Speed">↓	Speed</th>
                </thead>
                <tbody>
                    <tr>
                        <th class="Atk">↑ Attack</th>
                        <td class="Diag">Hardy</td>
                        <td>Lonely</td>
                        <td>Adamant</td>
                        <td>Naughty</td>
                        <td>Brave</td>
                    </tr>
                    <tr>
                        <th class="Def">↑ Defence</th>
                        <td>Bold</td>
                        <td class="Diag">Docile</td>
                        <td>Impish</td>
                        <td>Lax</td>
                        <td>Relaxed</td>
                    </tr>
                    <tr>
                        <th class="SpAtk">↑ Sp. Atk</th>
                        <td>Modest</td>
                        <td>Mild</td>
                        <td class="Diag">Bashful</td>
                        <td>Rash</td>
                        <td>Quiet</td>
                    </tr>
                    <tr>
                        <th class="SpDef">↑ Sp. Def</th>
                        <td>Calm</td>
                        <td>Gentle</td>
                        <td>Careful</td>
                        <td class="Diag">Quirky</td>
                        <td>Sassy</td>
                    </tr>
                    <tr>
                        <th class="Speed">↑ Speed</th>
                        <td>Timid</td>
                        <td>Haste</td>
                        <td>Jolly</td>
                        <td>Naive</td>
                        <td class="Diag">Serious</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>