@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    font-family: 'Fira Sans';
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background: none;
}

.container {
    width: 60%;
    margin-block: 20px;
    padding: 20px;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-block: 10px;
    font-weight: 800;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.pokeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeImg {
    width: auto;
    height: 80%;
    padding: 0;
}

.details {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
}

.infoTable {
    height: 35%;
    width: 70%;
}

.infoTable .leftTd {
    width: 40%;
}

.infoTable .rightTd {
    width: 60%;
}

.infoTable a {
    color: black;
}

.statTable {
    width: 110%;
}

.evolution {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 20px;
    width: 80%;
}

.evolPokeImg {
    width: 80px;
}

.evolPokeImg img {
    height: 80px;
    width: auto;
}

.evolArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moves {
    width: 100%;
    display: flex;
    margin-block: 20px;
    justify-content: center;
}

.movesTable {
    width: 80%;
    text-align: center;
}

.movesTable tr {
    height: 30px;
}

.megaEvos {
    display: flex;
    margin-block: 20px;
    justify-content: center;
    width: 100%;
    height: auto;
}

.megaEvos a {
    display: flex;
    justify-content: center;
    width: 25%;
}

.megaEvos img {
    width: 100%;
    height: auto;
}

.altForms {
    display: flex;
    margin-block: 20px;
    justify-content: center;
    width: 100%;
}

.altForms a {
    display: flex;
    justify-content: center;
    width: 25%;
}

.altForms img {
    width: 100%;
    height: auto;
}

progress {
    width: 250px;
    height: 25px;
    border: 2px solid white;
    border-radius: 6px;
    height: 16px;
}

progress::-webkit-progress-bar {
    background: none;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    border-radius: 4px;
}

progress.red::-webkit-progress-value {
    background-color: rgb(243, 68, 68);
}

progress.orange::-webkit-progress-value {
    background-color: rgb(255, 127, 15);
}

progress.yellow::-webkit-progress-value {
    background-color: rgb(255, 221, 87);
}

progress.lime::-webkit-progress-value {
    background-color: rgb(160, 229, 21);
}

progress.green::-webkit-progress-value {
    background-color: rgb(35, 205, 94);
}

progress.aqua::-webkit-progress-value {
    background-color: rgb(0, 194, 184);
}

@media screen and (max-width: 1100px) {
    .pokeName h1  {
        font-size: 36px;
    }

    .pokeInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pokeImg {
        width: 35%;
        display: inline;
        margin-bottom: 10px;
        margin-right: 0;
        padding: 0;
    }

    .details {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .infoTable {
        width: 70%;
    }

    .statTable {
        width: 140%;
    }
}

@media screen and (max-width: 800px) {
    .evolPokeImg {
        width: 60px;
    }

    .evolPokeImg img {
        height: 60px;
        width: auto;
    }

    .evolArrow h5 {
        font-size: 10px;
    }

    .movesTable {
        font-size: 12px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    nav button {
        font-size: 20px;
    }

    .container {
        width: 80%;
    }

    .details {
        width: 70%;
        font-size: 12px;
    }

    .statTable {
        width: 130%;
        font-size: 12px;
    }

    progress {
        width: 200px;
    }

    .evolPokeImg img {
        height: 40px;
        width: auto;
    }

    .evolPokeImg {
        width: 40px;
    }
}